* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width:80%;
  margin:20px auto;
  border:1px solid pink;
}

nav {
  background-color: antiquewhite;
  height: 10vh;
}

nav a {
  padding: 10px;
}